*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #212121;
    font-family: Arial, sans-serif;
    padding: 10px 0;
    flex-direction: column;
    gap: 20px;
}

.container {
    width: 800px;
    height: 800px;
    overflow: scroll;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #8e00d5;
    box-shadow: 0 0 20px rgba(142, 0, 213, 0.5);
    transition: background 0.4s ease;
}

.container::-webkit-scrollbar {
    width: 16px;
}

.container::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border: 3px solid #aa00ff;
    border-radius: 10px;
}

.box-img {
    columns: 3;
    column-gap: 10px;
}

img {
    margin: 5px 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #8e00d5;
    box-shadow: 0 0 20px rgba(142, 0, 213, 0.3);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

img:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 0 20px #8e00d5;
}

.img {
    filter: drop-shadow(0 0 20px #8e00d5);
    box-shadow: 0 0 20px rgba(142, 0, 213, 0.3);
}